.nav-link {
    padding: 2px 10px 2px 10px ;
}

.nav-tabs {
    background-color: #ccd3da !important;
    border-bottom: none;
    border-left: none;
}

.nav-item {
    border-right: none !important;
}

.note {
    margin: 1rem 0 !important;
}

.tip {
    margin: 1rem 0 !important;
}

.info {
    margin: 1rem 0 !important;
}

.h4, h4 {
    padding-bottom: 1rem !important;
    padding-top: 0.5rem !important;
}