.nav-link {
    padding: 2px 10px 2px 10px ;
}

.nav-tabs {
    background-color: #ccd3da !important;
    border-bottom: none;
    border-left: none;
}

.nav-item {
    border-right: none !important;
}
